.section-essentials {
    margin: 111px 93px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .section-essentials {
        margin: 0 auto;
        max-width: calc(100% - 190px);
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .section-essentials {
        margin: 55px 35px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .section-essentials {
        margin: 0px auto;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .section-essentials {
        margin: 53px 24px;
        padding: 0px;
    }
}

.essentials-container {
    display: flex;
    gap: 110px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .essentials-container {
        max-width: unset;
        gap: 45px;
    }

}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .essentials-container {
        gap: 35px;
        max-width: unset;
        display: flex;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .essentials-container {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 0 30px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .essentials-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
}

.essentials-text {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 328px;
    border-radius: 2px;
    border: 1px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .essentials-text {
        gap: 20px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .essentials-text {
        gap: 15px;
        width: 100%;
        max-width: 250px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .essentials-text {
        display: inline-block;
        max-width: 100%;
        position: relative;
        text-align: left;
        width: 100%;
        margin-top: 0px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .essentials-text {
        display: inline-block;
        margin-top: 0px;
    }
}

.essentials-text h3 {
    width: 118px;
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 51.2px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .essentials-text h3 {
        font-size: 40px;
        line-height: 45px;
        display: contents;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .essentials-text h3 {
        display: contents;
        font-size: 26px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .essentials-text h3 {
        font-size: 24px;
        display: contents;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .essentials-text h3 {
        font-size: 24px;
        width: auto;
        line-height: 30.72px;
        margin-bottom: 8px;
    }
}

.essentials-text p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    text-align: left;
    color: rgba(133, 128, 128, 1);
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .essentials-text p {
        font-size: 22px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .essentials-text p {
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .essentials-text p {
        font-size: 12px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .essentials-text p {
        font-size: 12px;
        width: auto;
        margin-bottom: 16px;
        line-height: 14.63px;
    }
}

.essentials-text .btn-section {
    padding: 23px 0px;
    max-width: 328px;
    border-radius: 2px;
    border: 1px solid rgba(183, 146, 106, 1);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: center;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .essentials-text .btn-section {
        padding: 18px 0px;
        font-size: 22px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .essentials-text .btn-section {
        padding: 10px 30px;
        height: fit-content;
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .essentials-text .btn-section {
        padding: 5px 30px;
        font-size: 12px;
        width: 126px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .essentials-text .btn-section {
        width: 123px;
        height: 28px;
        font-size: 12px;
        line-height: 14px;
        padding: 8px 29px;
    }
}


.essentials-container .section-images {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 6.5px));
    align-items: baseline;
    width: 100%;
    height: 100%;
    gap: 13px;
    min-width: 150px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .essentials-container .section-images {
        gap: 8px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .essentials-container .section-images {
        gap: 5px;
        justify-content: space-between;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .essentials-container .section-images {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .essentials-container .section-images {
        grid-template-columns: 1fr;
    }
}

.essentials-container .section-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
    flex-basis: 33.3333%;
    height: 100%
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .essentials-container .section-img {
        gap: 5px;

    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .essentials-container .section-img {
        gap: 4px;

    }
}

.section-p {
    display: flex;
    flex-direction: column;
    min-height: 58.5px;
    justify-content: space-between;
    height: 100%;
}

@media screen and (min-width:0px) and (max-width:767px){
    .section-p{
        min-height: unset;
    }
}

.section-img img {
    max-width: 100%;
    object-fit: cover;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .section-img img {
        max-height: 380px;
    }
}


.section-p p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    flex-basis: 0;
}


@media screen and (min-width:1024px) and (max-width:1439px) {
    .section-img p {
        font-size: 16px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .section-img p {
        font-size: 15px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .section-img p {
        font-size: 12px !important;
        max-width: 280px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .section-img .second {
        font-size: 12px !important;
        max-width: 201px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .section-img .third {
        font-size: 12px !important;
        max-width: 313px;
    }
}

.section-img .prices {
    display: flex;
    justify-content: start;
    gap: 15px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .section-img .prices {
        justify-content: start;
        gap: 8px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .section-img .prices {
        justify-content: start;
        gap: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .section-img .prices {
        gap: 8px;
        margin: 24px 0;
    }
}

@media screen and (min-width:0px) and (max-width:767px){
    .section-img .prices{
        gap: 10px;
    }
}

.price-now {
    color: rgba(183, 146, 106, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    font-weight: 500;
    line-height: 21.94px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .price-now {
        font-size: 14px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .price-now {
        font-size: 11px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .price-now {
        font-size: 12px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .price-now {
        font-size: 14px;
    }
}

.price-before {
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.32);
    color: rgba(0, 0, 0, 0.32);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .price-before {
        font-size: 13px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .price-before {
        font-size: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .price-before {
        font-size: 10px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .price-before {
        font-size: 14px;
    }
}