.follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 113px 93px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .follow-us {
        margin: 93px 46px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .follow-us {
        margin: 55px auto;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .follow-us {
        margin: 45px auto;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .follow-us {
        margin: 0px 16px;
    }
}

.followus-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 109px;
    justify-content: space-between;
    align-items: start;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .followus-container {
        gap: 45px;
        margin: 0px 50px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .followus-container {
        gap: 35px;
        margin: 0px 35px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .followus-container {
        display: grid;
        gap: 30px;
        margin: -44px 30px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .followus-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
}

.followus-text {
    margin-top: 52px;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 1px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .followus-text {
        gap: 20px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .followus-text {
        max-width: 250px;
        gap: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .followus-text {
        display: inline-block;
        max-width: 100%;
        position: relative;
        text-align: left;
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .followus-text {
        max-width: 327px;
        gap: 8px;
    }
}

.followus-text h3 {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 51.2px;
    color: rgba(0, 0, 0, 1);
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .followus-text h3 {
        font-size: 40px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .followus-text h3 {
        font-size: 26px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .followus-text h3 {
        font-size: 24px;
    }
}

@media screen and (max-width:425px) {
    .followus-text h3 {
        font-size: 24px;
    }
}

.followus-text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    color: rgba(133, 128, 128, 1);
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .followus-text p {
        font-size: 22px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .followus-text p {
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .followus-text p {
        font-size: 12px;
    }
}

@media screen and (max-width:425px) {
    .followus-text p {
        font-size: 12px;
    }
}

.followus-text .btn-follow {
    padding: 23px 0px;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    max-width: 328px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: center;
    border: 1px solid rgba(183, 146, 106, 1);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .followus-text .btn-follow {
        padding: 18px 0px;
        font-size: 22px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .followus-text .btn-follow {
        padding: 15px 0px;
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .followus-text .btn-follow {
        padding: 5px 30px;
        font-size: 12px;
        width: 126px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .followus-text .btn-follow {
        font-size: 12px;
        padding: 9px 30px;
        width: 123px;
        height: 28px;
    }
}

#eapps-instagram-feed-1>div.eapps-instagram-feed-container>div.eapps-instagram-feed-content>div.eapps-instagram-feed-posts-container>div>div.eapps-instagram-feed-posts-grid-load-more-container.eapps-instagram-feed-posts-grid-load-more-enabled {
    display: none !important;
}


#eapps-instagram-feed-1>div.eapps-instagram-feed-container>div.eapps-instagram-feed-content>div.eapps-instagram-feed-posts-container>div>div.eapps-instagram-feed-posts-inner.es-layout-grid-content {
    width: unset !important;
}

#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-overlay {
    background: rgba(17, 17, 17, 0.6) !important;
}


@media screen and (min-width:768px) and (max-width:1023px) {
    #eapps-instagram-feed-1>div.eapps-instagram-feed-container>div.eapps-instagram-feed-content>div.eapps-instagram-feed-posts-container>div>div.eapps-instagram-feed-posts-inner.es-layout-grid-content>div {
        min-height: 0px;
        margin: -1.5px;
        width: 960px !important;
    }
}