footer {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(183, 146, 106, 1);
}

.footer-inner {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 90px auto 49.91px auto;
    max-width: 1734px;
}

@media screen and (max-width:1440px) {
    .footer-inner {
        margin: 50px auto 32px auto;
        max-width: 1340px;
    }
}

@media screen and (max-width:1024px) {
    .footer-inner {
        max-width: 954px;
        margin: 40px auto 27px auto;
    }
}

@media screen and (max-width:768px) {
    .footer-inner {
        max-width: 718px;
        display: block;
    }
}

@media screen and (max-width:425px){
    .footer-inner{
        max-width: 345px;
    }
}

.footer-details {
    min-width: 394px;
}

@media screen and (max-width:1440px) {
    .footer-details {
        min-width: 290px;
    }
}

@media screen and (max-width:1024px) {
    .footer-details {
        min-width: 250px;
    }
}

@media screen and (max-width:425px){
    .footer-details{
        min-width: 358px;
    }
}


.footer-details h3 {
    font-family: 'Cormorant', sans-serif;
    font-size: 21.27px;
    font-weight: 400;
    line-height: 25.76px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 24px;
}

@media screen and (max-width:1440px) {
    .footer-details h3 {
        font-size: 16px;
        margin-bottom: 19px;
    }
}

@media screen and (max-width:1024px) {
    .footer-details h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:768px){
    .footer-details h3{
        font-size: 20px;
    }
}

@media screen and (max-width:425px){
    .footer-details h3{
       display: none;
    }
}



.footer-details h6 {
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.48px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 13px;
}

@media screen and (max-width:1440px) {
    .footer-details h6 {
        font-size: 13px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:1024px) {
    .footer-details h6 {
        font-size: 10px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width:768px){
    .footer-details h6{
        font-size: 15px;
    }
}

@media screen and (max-width:425px){
    .footer-details h6{
        font-size: 14px;
    }
}

.footer-details p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    margin-bottom: 13px;
}

@media screen and (max-width:1440px) {
    .footer-details p {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:1024px) {
    .footer-details p {
        font-size: 10px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width:768px){
    .footer-details p{
        font-size: 13px;
    }
}

@media screen and (max-width:425px){
    .footer-details p{
        font-size: 14px;
    }
}

.footer-details .email {
    width: 341px;
    margin-bottom: 24px;
    margin-top: 34px;
    color: rgba(71, 68, 67, 1);
}

@media screen and (max-width:1440px) {
    .footer-details .email {
        margin-top: 20px;
        margin-bottom: 28px;
        width: 290px;
    }
}

@media screen and (max-width:1024px) {
    .footer-details .email {
        margin-top: 17px;
        margin-bottom: 24px;
        width: 250px;
    }
}

@media screen and (max-width:768px){
    .footer-details .email{
        width: 100%;
    }
}

.footer-details .btn-signup {
    padding: 8px 142px;
    border: 0.5px solid rgba(71, 68, 67, 1);
    background-color: rgb(255, 255, 255);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.06px;
    cursor: pointer;
}

@media screen and (max-width:1440px) {
    .footer-details .btn-signup {
        padding: 6px 120px;
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .footer-details .btn-signup {
        padding: 4px 108px;
        font-size: 8px;
    }
}

@media screen and (max-width:768px){
    .footer-details .btn-signup{
        min-width: 100% !important;
        font-size: 12px;
    }
}

@media screen and (max-width:425px){
    .footer-details .btn-signup{
        width: 345px;
        height: 48px;
        font-size: 13px;
    }
}


.footer-details .footer-icons {
    display: flex;
    list-style: none;
    gap: 15.3px;
    align-items: center;
    margin-top: 29px;
}

@media screen and (max-width:1440px) {
    .footer-details .footer-icons {
        gap: 12px;
        margin-top: 24px;
        align-items: center;
    }
}

@media screen and (max-width:1024px) {
    .footer-details .footer-icons {
        gap: 10px;
        margin-top: 10px;
        align-items: center;
    }
}

.footer-icons svg {
    margin: auto;
}

@media screen and (max-width:425px){
    .footer-details .footer-icons{
        width: 20px;
        height: 20px; 
    }
}

.customer-service {
    min-width: 353.33px;
}

@media screen and (max-width:1440px) {
    .customer-service {
        min-width: 300px;
    }
}

@media screen and (max-width:1024px) {
    .customer-service {
        min-width: 270px;
    }
}

.footer-title {
    border-bottom: 1px solid rgba(183, 146, 106, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
    margin-top: 10px;
}

@media screen and (min-width:769px){
    .footer-title svg{
        display: none;
    }
}

@media screen and (max-width:768px){
    .footer-title{
        border-bottom: 1px solid rgb(184, 184, 184);
    }
}



.customer-service h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.6px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgba(183, 146, 106, 1);
}

@media screen and (max-width:1440px) {
    .customer-service h4 {
        font-size: 14px;
    }
}

@media screen and (max-width:1024px) {
    .customer-service h4 {
        font-size: 13px;
    }
}

@media screen and (max-width:768px){
    .customer-service h4{
        font-size: 13px;
    }
}

@media screen and (max-width:425px){
    .customer-service h4{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: none;
        font-weight: 500;
    }
}

.customer-service h5 {
    font-family: 'Work Sans', sans-serif;
    color: rgba(183, 146, 106, 1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
}

@media screen and (max-width:1440px) {
    .customer-service h5 {
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .customer-service h5 {
        font-size: 10px;
    }
}

@media screen and (max-width:769px){
    #customer-links{
        display: none;
    }
}

.customer-links p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
    color: rgba(28, 28, 28, 1);
}

@media screen and (max-width:1440px) {
    .customer-links p {
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .customer-links p {
        font-size: 10px;
    }
}

.customer-links a {
    text-decoration: none;
}

.links {
    margin-top: 20px;
}

@media screen and (max-width:1440px) {
    .links {
        margin-top: 16px;
    }
}


.information-links {
    min-width: 260px;
}

@media screen and (max-width:1440px) {
    .information-links {
        min-width: 220px;
    }
}

@media screen and (max-width:1024px) {
    .information-links {
        min-width: 200px;
    }
}

.information-links h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.6px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgba(183, 146, 106, 1);
}

@media screen and (max-width:1042px){
    .information-links h4{
        font-size: 13px;
    }
}

@media screen and (max-width:425px){
    .information-links h4{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: none;
        font-weight: 500;
    }
}

@media screen and (max-width:769px){
    #info-links{
        display: none;
    }
}

@media screen and (max-width:1440px) {
    .information-links h5 {
        font-size: 14px;
    }
}

@media screen and (max-width:1024px) {
    .information-links h5 {
        font-size: 12px;
    }
}

.information-links a {
    display: flex;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
    color: rgba(28, 28, 28, 1);
}

@media screen and (max-width:1440px) {
    .information-links a {
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .information-links a {
        font-size: 10px;
    }
}

.more-links {
    min-width: 260px;
}

@media screen and (max-width:1440px) {
    .more-links {
        min-width: 220px;
    }
}

@media screen and (max-width:1024px) {
    .more-links {
        min-width: 200px;
    }
}

@media screen and (max-width:769px){
    #more-links{
        display: none;
    }
}

.more-links h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.6px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgba(183, 146, 106, 1);
}

@media screen and (max-width:1042px){
    .more-links h4{
        font-size: 13px;
    }
}

@media screen and (max-width:425px){
    .more-links h4{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: none;
        font-weight: 500;
    }
}

@media screen and (max-width:1440px) {
    .more-links h5 {
        font-size: 14px;
    }
}

@media screen and (max-width:1024px) {
    .more-links h5 {
        font-size: 12px;
    }
}

.more-links a {
    display: flex;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
    color: rgba(28, 28, 28, 1);
}

@media screen and (max-width:1440px) {
    .more-links a {
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .more-links a {
        font-size: 10px;
    }
}

footer .bottom-details .bottom-text {
    max-width: 1920px;
    margin: 20px 58px;
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width:1440px) {
    footer .bottom-details .bottom-text {
        margin: 15px 45px;
    }
}

@media screen and (max-width:768px) {
    footer .bottom-details .bottom-text {
        margin: 10px 24px;
    }
}

@media screen and (max-width:425px) {
    footer .bottom-details .bottom-text{
        margin: 10px 50px;
    }
}

@media screen and (max-width:768px) {
    .copyright-text p {
        font-size: 10px;
    }
}



.copyright-text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.06px;
    text-decoration: none;
    color: rgba(28, 28, 28, 1);
}

@media screen and (max-width:1440px) {
    .copyright-text p {
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .copyright-text p {
        font-size: 10px;
    }
}

@media screen and (max-width:768px) {
    .copyright-text p {
        font-size: 13px;
    }
}