footer {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(183, 146, 106, 1);
}

@media screen and (min-width:0px) and (max-width:768px) {
    footer {
        border-top: none;
    }
}

.footer-inner {
    display: flex;
    gap: 120px;
    justify-content: space-between;
    margin: 90px 93px 49.91px 93px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .footer-inner {
        max-width: 1360px;
        margin: 0 auto;
        padding: 121px 0 83px;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .footer-inner {
        max-width: unset;
        margin: 40px 35px 27px 35px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    .footer-inner {
        flex-direction: column;
    }
}


@media screen and (min-width:0px) and (max-width:767px) {
    .footer-inner {
        margin: 44px 24px;
        gap: 20px;
    }
}

.footer-details {
    flex-basis: 25%;
}

@media screen and (min-width:0px) and (max-width:767px) {
    .footer-details {
        margin: 0px 6px;
    }

}

@media screen and (min-width:768px) and (max-width:1439px) {
    .footer-details {
        flex-basis: calc(50% - 15px) !important;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .customer-service {
        flex-basis: calc(50% - 15px) !important;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .information-links {
        flex-basis: calc(50% - 15px) !important;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .more-links {
        flex-basis: calc(50% - 15px) !important;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer-details {
        min-width: 349px;
    }
}


.footer-details h3 {
    font-family: 'Cormorant', sans-serif;
    font-size: 21.27px;
    font-weight: 400;
    line-height: 25.76px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 24px;
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .footer-details h3 {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer-details h3 {
        font-size: 20px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .footer-details h3 {
        display: none;
    }
}


.footer-details h6 {
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.48px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 13px;
}


@media screen and (min-width:1024px) and (max-width:1439px) {
    .footer-details h6 {
        font-size: 14px;
        margin-bottom: 8px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer-details h6 {
        font-size: 15px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .footer-details h6 {
        font-family: 'Cormorant', sans-serif;
        font-size: 16.88px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
    }
}

.footer-details p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    margin-bottom: 13px;
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .footer-details p {
        font-size: 14px;
        margin-bottom: 8px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer-details p {
        font-size: 13px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .footer-details p {
        font-family: 'Cormorant', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.95px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 27px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .footer-details .email {
        font-family: 'Inter', sans-serif;
        font-size: 14.3px;
        font-weight: 400;
        line-height: 21.56px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        margin-bottom: 8px;
    }
}


.email-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(71, 68, 67, 1);
}


@media screen and (min-width:1440px) and (max-width:1919px) {
    .footer-details .email-input {
        margin-top: 20px;
        margin-bottom: 28px;
        width: 290px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .footer-details .email-input {
        margin-top: 17px;
        margin-bottom: 24px;
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer-details .email-input {
        width: 100%;
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    .footer-details .email-input {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(199, 165, 128, 1);
    }
}

.footer-details .btn-signup {
    padding: 11px 20px;
    min-width: 100%;
    border: 0.5px solid rgba(71, 68, 67, 1);
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.06px;
    cursor: pointer;
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .footer-details .btn-signup {
        padding: 4px 108px;
        font-size: 14px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer-details .btn-signup {
        min-width: 100% !important;
        font-size: 12px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .footer-details .btn-signup {
        height: 48px;
        font-size: 13px;
        max-width: 345px !important;
        margin-bottom: 19px;
    }
}


.footer-icons {
    display: flex;
    gap: 15.3px;
    align-items: center;
    margin-top: 28px;
    margin-left: 6px;
}



@media screen and (min-width:1440px) and (max-width:1919px) {
    .footer-details .footer-icons {
        gap: 12px;
        margin-top: 24px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .footer-details .footer-icons {
        gap: 10px;
        margin-top: 10px;
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    .footer-details .footer-icons {
        margin-top: 20px;
    }
}


@media screen and (min-width:0px) and (max-width:768px) {
    .footer-icons-desktop {
        display: none !important;
    }
}


@media screen and (min-width:768px) {
    .footer-icons-mobile {
        display: none !important;
    }
}


.footer-icons svg {
    margin: auto;
}

.customer-service {
    flex-basis: 25%;
    width: unset;
}

@media screen and (min-width:0px) and (max-width:1023px) {
    .customer-service {
        min-width: 250px;
        margin-left: 14px;
        margin-right: 14px;
    }
}

.footer-title {
    border-bottom: 1px solid rgba(183, 146, 106, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
    margin-top: 10px;
}



@media screen and (min-width:0px) and (max-width:767px) {
    .footer-title {
        border-bottom: 1px solid rgb(184, 184, 184);
    }
}




.customer-service h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.6px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgba(183, 146, 106, 1);
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .customer-service h4 {
        font-size: 16px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .customer-service h4 {
        font-size: 14px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .customer-service h4 {
        font-size: 14.88px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: none;
        font-weight: 600;
        line-height: 14px;
    }
}

.customer-service h5 {
    font-family: 'Montserrat', sans-serif;
    color: rgba(183, 146, 106, 1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
}


@media screen and (min-width:1024px) and (max-width:1439px) {
    .customer-service h5 {
        font-size: 14px;
    }
}


.customer-links p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
    color: rgba(28, 28, 28, 1);
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .customer-links p {
        font-size: 14px;
    }
}

.customer-links a {
    text-decoration: none;
}

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.information-links {
    flex-basis: 25%;
    width: unset;
}


@media screen and (min-width:0px) and (max-width:1023px) {
    .information-links {
        min-width: 250px;
        margin-left: 14px;
        margin-right: 14px;
    }
}

.information-links h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.6px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgba(183, 146, 106, 1);
}

@media screen and (max-width:1042px) {
    .information-links h4 {
        font-size: 14px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .information-links h4 {
        font-size: 14.88px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: none;
        font-weight: 600;
        line-height: 14px;
    }
}

@media screen and (max-width:768px) {
    #info-links {
        display: none;
    }
}


@media screen and (min-width:1024px) and (max-width:1439px) {
    .information-links h5 {
        font-size: 14px;
    }
}

.information-links a {
    display: flex;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
    color: rgba(28, 28, 28, 1);
}

.more-links {
    flex-basis: 25%;
    width: unset;
}


@media screen and (min-width:0px) and (max-width: 1023px) {
    .more-links {
        min-width: 250px;
        margin-left: 14px;
        margin-right: 14px;
    }
}

.more-links h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.6px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgba(183, 146, 106, 1);
}

@media screen and (max-width:1024px) {
    .more-links h4 {
        font-size: 14px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .more-links h4 {
        font-size: 14.88px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: none;
        font-weight: 600;
        line-height: 14px;
    }
}

/* @media screen and (min-width:1440px) and (max-width:1919px) {
    .more-links h5 {
        font-size: 14px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .more-links a {
        font-size: 13px;
    }
} */

.more-links a {
    display: flex;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.06px;
    color: rgba(28, 28, 28, 1);
}


@media screen and (min-width:1024px) and (max-width:1439px) {
    .more-links a {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #more-link {
        display: none;
    }
}

footer .bottom-details {
    margin: 20px 93px 20px 93px;

}

@media screen and (min-width:1440px) and (max-width:1919px) {
    footer .bottom-details {
        margin: 0 auto;
        max-width: 1360px;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    footer .bottom-details {
        margin: 10px 35px 10px 35px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    footer .bottom-details {
        margin: -30px 31px;
    }
}




.bottom-details p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.06px;
    text-decoration: none;
    color: rgba(28, 28, 28, 1);
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .bottom-details p {
        font-size: 14px;
    }
}

@media screen and (min-width:769px) and (max-width:1023px) {
    .bottom-details p {
        font-size: 14px;
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    .bottom-details p {
        font-size: 14px;
        max-width: 333px;
        line-height: 40px;
    }
}

.footer-content-inner {
    display: block;
}

@media screen and (max-width: 768px) {
    .footer-content-inner {
        display: none;
    }
}

@media screen and (min-width:769px) {
    .footer-title svg {
        display: none;
    }
}