.location-section {
    margin: 113px auto;
    max-width: 1734px;
}

@media screen and (max-width:1440px) {
    .location-section {
        margin: 70px auto;
        max-width: 1340px;
    }
}

@media screen and (max-width:1024px) {
    .location-section {
        margin: 55px auto;
        max-width: 954px;
    }
}

@media screen and (max-width:768px) {
    .location-section {
        margin: 45px auto;
        max-width: 718px;
    }

}

@media screen and (max-width:425px){
    .location-section{
        max-width: 345px;
    }
}

.location-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:768px){
    .location-container{
        display: block;
    }
}

.location-left {
    display: flex;
    background-color: rgba(32, 32, 32, 1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

@media screen and (max-width:1440px) {
    .location-left {
        gap: 20px;
    }
}

@media screen and (max-width:1024px) {
    .location-left {
        gap: 15px;
    }
}

@media screen and (max-width:768px){
    .location-left{
        max-width: 718px;
        height: 450px;
    }
}

@media screen and (max-width:425px){
    .location-left{
        max-width: 345px;
        height: 355px;
    }
}

.location-right iframe {
    width: 861px;
    height: 540px;
}

@media screen and (max-width:1440px) {
    .location-right iframe {
        width: 100%;
        height: 405px;
    }
}

@media screen and (max-width:1024px) {
    .location-right iframe {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width:768px){
    .location-right iframe{
        width: 718px;
        height: 450px;
    }
}

@media screen and (max-width:425px){
    .location-right iframe{
        width: 345px;
        height: 355px;
    }
}

.location-text h4 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 46.08px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (max-width:1440px) {
    .location-text h4 {
        font-size: 26px;
    }
}

@media screen and (max-width:1024px) {
    .location-text h4 {
        font-size: 22px;
    }
}

@media screen and (max-width:425px){
    .location-text h4{
        font-size: 18px;
    }
}

.location-text p {
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.72px;
    letter-spacing: 0.06px;
    color: rgba(183, 146, 106, 1);
    text-align: center;
}

@media screen and (max-width:1440px) {
    .location-text p {
        font-size: 18px;
    }
}

@media screen and (max-width:1024px) {
    .location-text p {
        font-size: 15px;
    }
}

@media screen and (max-width:425px){
    .location-text p{
        font-size: 14px;
    }
}

@media screen and (max-width:425px){
    .location-left svg{
        width: 30px;
        height: 29px;
    }
}