.location-section {
    margin: 113px 93px;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .location-section {
        margin: 0 auto;
        max-width: 1250px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .location-section {
        margin: 55px 35px;
        max-width: unset;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .location-section {
        margin: 45px auto;
        padding: 0 30px;
    }

}

@media screen and (min-width:0px) and (max-width:767px) {
    .location-section {
        margin: 0 16px;
    }
}

.location-container {
    display: flex;
}


@media screen and (min-width:768px) and (max-width:1023px) {
    .location-container {
        display: block;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .location-container {
        display: grid;
    }
}

.location-left {
    display: flex;
    flex-basis: 50%;
    background-color: rgba(32, 32, 32, 1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.location-right {
    flex-basis: 50%;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .location-left {
        gap: 20px;
    }
}

@media screen and (max-width:1024px) {
    .location-left {
        gap: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .location-left {
        max-height: 450px;
        min-height: 450px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .location-left {
        height: 355px;
    }
}

.location-right iframe {
    width: 100%;
    height: 540px;
}

.location-left svg {
    width: 50px;
    height: 49.24px;
}

@media screen and (min-width:0px) and (max-width:767px) {
    .location-left svg {
        width: 23.75px;
        height: 22.96px;
    }
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .location-right iframe {
        width: 100%;
        height: 405px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .location-right iframe {
        max-height: 450px;
        min-height: 450px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .location-right iframe {
        height: 355px;
    }
}

.location-text h4 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 46.08px;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .location-text h4 {
        font-size: 26px;
    }
}

@media screen and (max-width:1024px) {
    .location-text h4 {
        font-size: 24px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .location-text h4 {
        font-size: 18px;
    }
}

.location-text p {
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.72px;
    letter-spacing: 0.06px;
    color: rgba(183, 146, 106, 1);
    text-align: center;
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .location-text p {
        font-size: 22px;
    }
}

@media screen and (max-width:1024px) {
    .location-text p {
        font-size: 21px;
    }
}

@media screen and (min-width:0px) and (max-width:767px) {
    .location-text p {
        font-size: 14px;
    }
}