.merchant-section {
    max-width: 100%;
    margin: 57px 93px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 94px;
}

@media screen and (max-width: 1440px) {
    .merchant-section {
        max-width: 1360px;
        margin: 55px 35px;
        gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .merchant-section {
        flex-direction: column;
        align-items: unset;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .merchant-section {
        margin: 0 auto;
        gap: 30px;
    }
}

.merchant-section .content-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 2px;
    border: 1px;
    margin-left: 14px;
    flex-basis: 25%
}

@media screen and (max-width: 1440px) {
    .merchant-section .content-left {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .merchant-section .content-left {
        padding: 0 30px;
        gap: 0;
    }
}

.content-left h3 {
    font-family: 'Lora', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 51.2px;
    text-align: left;
    width: 220px;
}

.content-left p {
    width: 100%;
    height: auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    color: rgba(133, 128, 128, 1);
}


.content-left .btn-view {
    padding: 23px 0px;
    border-radius: 2px;
    border: 1px solid rgba(183, 146, 106, 1);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgba(32, 32, 32, 1)
}


.embla__slide>.slide-left {
    flex-basis: 50%;
}

.slide-left>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.award-slide {
    background-color: rgba(32, 32, 32, 1);
    background-image: url("../../assets/images/OBJECTS (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex-basis: 50%;
}

@media screen and (max-width: 1024px) {
    .award-slide {
        max-height: 400px;
    }

    .slide-left {
        max-height: 400px;
    }
}



@media screen and (max-width: 768px) {
    .award-slide {
        aspect-ratio: 1/1;
        max-height: 100%;
    }
}


.circle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    height: 100%;
}


#title {
    width: 262.49px;
    font-family: 'Lora', serif;
    font-size: 24.06px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: center;
    color: rgba(183, 146, 106, 1);
}

#content {
    width: 307px;
    height: auto;
    top: 195px;
    left: 664px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15.31px;
    font-weight: 400;
    line-height: 18.67px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.circle-content button {
    width: 101.72px;
    height: 27.34px;
    background-color: transparent;
    border: 0.55px solid rgba(183, 146, 106, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-content button span {
    width: 72.25px;
    height: 13.63px;
    font-size: 13.12px;
    color: rgba(183, 146, 106, 1);
}


.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}


.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
}

@media screen and (max-width: 769px) {
    .embla__slide {
        flex-direction: column;
    }
}

.carousel-container {
    display: flex;
    align-items: center;
    gap: 73px;
    flex-basis: 75%;
    max-width: 100%;
}

@media screen and (max-width: 1440px) {
    .carousel-container {
        gap: 20px;
    }
}

.embla__prev,
.embla__next {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgba(34, 37, 41, 1);
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .embla__prev,
    .embla__next {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .content-left h3 {
        font-size: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .content-left h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 425px) {
    .content-left {
        display: block;
    }
}

@media screen and (max-width:425px) {
    .content {
        display: grid;
        max-width: 346px;
    }
}

@media screen and (max-width: 1024px) {
    .content-left p {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .content-left p {
        font-size: 12px;
    }
}


@media screen and (max-width: 1024px) {
    .content-left .btn-view {
        padding: 18px 0px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .content-left .btn-view {
        padding: 10px 0px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .content-left .btn-view {
        width: 123px;
        padding: 8px 30px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .circle-content {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 18px;
        max-width: 202px;
    }
}

@media screen and (max-width: 768px) {
    #content {
        font-size: 12px;
        max-width: 245px;
    }
}

@media screen and (max-width: 768px) {
    .crown {
        width: 83px;
        height: 72px;
    }
}

@media screen and (max-width: 768px) {
    .circle-content button {
        padding: 7px 20px;
        max-width: 101px;
        font-size: 12px !important;
        height: 27px;
        display: flex;
        flex-direction: column-reverse;
    }
}